.caroimg {
  width: 50%;
  height: 400px;
}
.carousel {
  width: 100%;
  margin-left: 10%;
  position: relative;
  margin-top: 20px;
transition-delay: 0ms;
}


.carobutton {

  background-color: orange;
  width:20px;
  height: 20px;
  border: none;
  margin-left: 119%;
  margin-top: 20px;
  
}
.nextbutton{
  width: 30px;
  height: 30px;
  display: flex;
 
  border-radius: 100%;
  margin-top: 40px;
}
.nextbutton:hover{
  width: 40px;
  height: 40px;
  transform: scale(1.2);

 animation: backwards;
  
}
.carousel-inner{
  width: 100%;
}